<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.9" targetFramework="net461" />
  <package id="Autofac" version="4.6.0" targetFramework="net461" />
  <package id="CleverbotLib" version="1.0.1" targetFramework="net461" />
  <package id="Colorful.Console" version="1.0.7" targetFramework="net461" />
  <package id="Discord.Net" version="1.0.0-rc3-00756" targetFramework="net461" />
  <package id="Discord.Net.Commands" version="1.0.0-rc3-00756" targetFramework="net461" />
  <package id="Discord.Net.Core" version="1.0.0-rc3-00756" targetFramework="net461" />
  <package id="Discord.Net.Providers.WS4Net" version="1.0.0-rc3-00756" targetFramework="net461" />
  <package id="Discord.Net.Rest" version="1.0.0-rc3-00756" targetFramework="net461" />
  <package id="Discord.Net.Rpc" version="1.0.0-rc3-00756" targetFramework="net461" />
  <package id="Discord.Net.Webhook" version="1.0.0-rc3-00756" targetFramework="net461" />
  <package id="Discord.Net.WebSocket" version="1.0.0-rc3-00756" targetFramework="net461" />
  <package id="Google.Apis" version="1.27.1" targetFramework="net461" />
  <package id="Google.Apis.Auth" version="1.27.1" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.27.1" targetFramework="net461" />
  <package id="Google.Apis.Customsearch.v1" version="1.27.1.880" targetFramework="net461" />
  <package id="Google.Apis.Urlshortener.v1" version="1.27.1.138" targetFramework="net461" />
  <package id="Google.Apis.YouTube.v3" version="1.27.1.760" targetFramework="net461" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net461" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net461" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="2.3.0-beta1" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.Common" version="2.3.0-beta2" targetFramework="net461" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="2.3.0-beta2" targetFramework="net461" />
  <package id="Microsoft.CodeAnalysis.CSharp.Scripting" version="2.3.0-beta2" targetFramework="net461" />
  <package id="Microsoft.CodeAnalysis.Scripting.Common" version="2.3.0-beta2" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.0.0-preview1-final" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0-preview1-final" targetFramework="net461" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net461" />
  <package id="Microsoft.NETCore.Platforms" version="2.0.0-preview1-25305-02" targetFramework="net461" />
  <package id="Microsoft.Packaging.Tools" version="1.0.0-preview1-25301-01" targetFramework="net461" />
  <package id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="NETStandard.Library" version="2.0.0-preview1-25301-01" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="Nito.AsyncEx.Context" version="5.0.0-pre-02" targetFramework="net461" />
  <package id="Nito.AsyncEx.Tasks" version="5.0.0-pre-02" targetFramework="net461" />
  <package id="Nito.Disposables" version="1.1.0" targetFramework="net461" />
  <package id="Octokit" version="0.24.1-alpha0001" targetFramework="net461" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net461" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net461" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net461" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net461" />
  <package id="Rx-PlatformServices" version="2.3" targetFramework="net461" />
  <package id="SuperSocket.ClientEngine.Core" version="0.8.0.12" targetFramework="net461" />
  <package id="System.AppContext" version="4.3.0" targetFramework="net461" />
  <package id="System.Collections" version="4.3.0" targetFramework="net461" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.4.0-preview1-25305-02" targetFramework="net461" />
  <package id="System.Collections.Specialized" version="4.3.0" targetFramework="net461" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="net461" />
  <package id="System.Console" version="4.3.0" targetFramework="net461" />
  <package id="System.Diagnostics.Contracts" version="4.3.0" targetFramework="net461" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.4.0-preview2-25405-01" targetFramework="net461" />
  <package id="System.Diagnostics.FileVersionInfo" version="4.3.0" targetFramework="net461" />
  <package id="System.Diagnostics.StackTrace" version="4.3.0" targetFramework="net461" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="net461" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="net461" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net461" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net461" />
  <package id="System.Globalization.Calendars" version="4.3.0" targetFramework="net461" />
  <package id="System.Interactive.Async" version="3.1.1" targetFramework="net461" />
  <package id="System.IO" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Linq" version="4.3.0" targetFramework="net461" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.2" targetFramework="net461" />
  <package id="System.Net.NameResolution" version="4.3.0" targetFramework="net461" />
  <package id="System.Net.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Net.Security" version="4.3.1" targetFramework="net461" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net461" />
  <package id="System.Net.WebSockets" version="4.3.0" targetFramework="net461" />
  <package id="System.Net.WebSockets.Client" version="4.3.1" targetFramework="net461" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="net461" />
  <package id="System.Reactive" version="4.0.0-preview00001" targetFramework="net461" />
  <package id="System.Reactive.Core" version="4.0.0-preview00001" targetFramework="net461" />
  <package id="System.Reactive.Interfaces" version="4.0.0-preview00001" targetFramework="net461" />
  <package id="System.Reactive.Linq" version="4.0.0-preview00001" targetFramework="net461" />
  <package id="System.Reactive.PlatformServices" version="4.0.0-preview00001" targetFramework="net461" />
  <package id="System.Reactive.Windows.Threading" version="4.0.0-preview00001" targetFramework="net461" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection.Metadata" version="1.5.0-preview1-25305-02" targetFramework="net461" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection.TypeExtensions" version="4.4.0-preview1-25305-02" targetFramework="net461" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.Handles" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Text.Encoding.CodePages" version="4.4.0-preview1-25305-02" targetFramework="net461" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="net461" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Parallel" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading.Thread" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0-preview1-25305-02" targetFramework="net461" />
  <package id="System.Xml.ReaderWriter" version="4.3.0" targetFramework="net461" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net461" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net461" />
  <package id="System.Xml.XPath" version="4.3.0" targetFramework="net461" />
  <package id="System.Xml.XPath.XDocument" version="4.3.0" targetFramework="net461" />
  <package id="TweetinviAPI" version="2.0.0" targetFramework="net461" />
  <package id="WebSocket4Net" version="0.14.1" targetFramework="net461" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net461" />
</packages>